{% extends 'main/base.html' %}
{% load static %}

{% block title %}ПОДДЕРЖКА{% endblock title %}

{% block content %}
    <h2>ПОДДЕРЖКА ОТ БАЗЫ</h2>
    <h5 class="text-up">Хочешь провести событие или есть проект, который хочешь реализовать, но не хватает ресурсов? База предоставляет несколько форм поддержки молодежных инициатив.
        Чтобы использовать формы поддержки необходимо заполнить инициативную заявку. Мы обязательно свяжемся с вами и обсудим все детали!По инициативной заявке помещения центра могут быть предоставлены безвозмездно при условии, 
        что цели вашего проекта не носят коммерческий характер, а целевая аудитория участников от 14 до 35 лет. </h5>
    <h3 class="center">Пространства центра</h3>
    <div class="supports">
        {% for support in supports %}
            {% if support.img %}
                <div class="support {% if forloop.counter|divisibleby:2 %}reverse{% endif %} d-flex">
                    <img src="{{ support.img.url }}" alt="{{ support.title }}" class="image-support">
                    <div class="support-description">
                        <p class="support-text">{{ support.description|linebreaksbr }}</p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <div class="line"></div>
        <h5 class="dop">Дополнительно: <br>Разместив публикации о вашем событии вы получите большие охваты целевой аудитории и увеличите шансы продвижения вашего проекта.Условия размещения обсуждаются индивидуально в сообщения группы .
Наши сотрудники — профессионалы своего дела и готовы поделиться своим опытом в организации кибертурниров, фотомастерства или ведения социальных сетей и выступить на вашем мероприятии в качестве экспертов и спикеров.</h5>
    </div>
    <div  class="zayvka">
        <a href="/supports/initiative-form"><h2>Заявка на инициативу</h2></a>
    </div>
{% endblock content %}