{% extends 'main/base.html' %}
{% load static %}

{% block title %}Вход{% endblock title %}

{% block content %}
    <section class="login">
        <h3>Вход</h3>
        <form action="{% url "users:login" %}" method="post">
            {% csrf_token %}
            {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
            {% endif %}
            <div class="mb-3">
                <label for="id_username" class="form-label">Логин</label>
                <input type="text" class="form-control form-style"
                name="username" id="id_username" value="{% if form.username.value %}{{ form.username.value }}{% endif %}"
                 required>
            </div>
            <div class="mb-3">
                <label for="id_password" class="form-label">Пароль</label>
                <input type="password" class="form-control form-style"
                name="password" id="id_password" required>
            </div>
            <button type="submit" class="login-btn">Войти</button>
        </form>
        <div class="reset-pass">
            <hr>
            <div class="log mt-3 d-flex">
                <a href="#">Забыли пароль?</a> | <a href="{% url "users:registration" %}">Создать аккаунт</a>
            </div>
        </div>
    </section>
{% endblock content %}